@media screen and (max-width:980px) {
   body {
    background: black;
    position: absolute;
   }

  header {
    position: relative;
    display: inline-block;
    width: 100%;
   }

   nav li a{
      width: fit-content;
      font-size: 15px;
      text-align: center;
   }

   .dados h1 { 
    font-size: 50px;
    }

    .dados h2 {
        font-size: 20px;
    }

    .imagem-circular {
        width: 14em;
        height: 14em;
     }
  
     .conteudo-sobre-mim{
        width: 100%;
        height: fit-content;
     }
     
     .conteudo-sobre-mim .texto{
        height: fit-content;
        vertical-align:middle
     }
     
    .conteudo-sobre-mim iframe {
        padding-top: 1.2em;
        vertical-align:middle
    }

     .texto p {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
     }

     .video {
        height: 100%;
        padding-top: 1em;
     }

     
    .educacao div{
        height: fit-content;
    }
}

