header {	
 	font-family: 'Silkscreen', cursive;
 	position:absolute;
 	width: 100%;
	margin: 0 auto;
	height: 60px;
	background:#1C1C1C;
 }

nav {
    text-align: center;
    position: relative;
    top: 20px;
    bottom: 20px; 
}

nav li {
    display: inline-block;
    margin: 16px, 10px;
}

nav li a{
	text-transform: uppercase;
	color: whitesmoke;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #CD5C5C;
	text-decoration: underline;
}

#sobre-mim-icone:before{
 content: "👩";
}

#educacao-icone:before{
 content: "📚";
}

#experiencias-icone:before{
 content: "💻";
}

#competencias-icone:before{
 content: "🧠";
}

#projetos-icone:before{
	content: "📁";
   }

#interesses-icone:before{
 content: "🐶";
}

.cabecalho{
	width: 100%;
	height: 520px;
	background:#1C1C1C;
}
.caixa {
	position: relative;
	width: 100%;
	height: 450px;
	top: 60px;
	background-image: url(fundoheader.png);
 	background-repeat: no-repeat;
 	background-size: 100%;
}

@media screen and (max-width:1040px) {
    header {
        display: none;
    }
}

.imagem-circular {
	position: absolute;
	width: 300px;
	height: 300px;
	top:  30px;
	right: 30px;
	background-image: url(profile.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: #CD5C5C 10px solid;
}

.dados  {
	display: inline-block;
	margin-top: 50px;
	margin-left: 70px;
}

.dados h1 {
	font-size: 80px;
	font-family: 'Amatic SC', cursive;
	color: whitesmoke;
	font-weight: bold;
}
.dados h2{
	font-family: 'Silkscreen', cursive;
	font-size: 30px;
	color: black;
	margin-top: 10px;
	margin-bottom: 40px;
	color: #FF7878;
}

.contato{
 	display:flex;
}

.icones{
	height: 25px;
	width: 25px;
	display: inline;
	padding: 5px;
}

.texto-contato{
	margin-left:3px;
	padding: 5px;
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}

.redes {
 	position: absolute;
 	margin-left: 40%;
 	margin-top: 20px;

}

.redes img{
 	height: 45px;
	width: 45px;
	display: inline;
	padding: 15px;
}

main {
    color: black;
    margin: 0 auto
}

.sobre-mim{
	position: relative;
}

.titulos {
	width: 100%;
	height: 2.5em;
	background: #CD5C5C;
	color: black;
	position: relative;
}

 h3{
 	text-align: center;
	font-size: 2em;
	font-family: 'Silkscreen', cursive;
	padding-top: 1em;
	margin-top: 0;
 }

.conteudo-sobre-mim {
	height: 350px;
	width: 100%;
	margin: 0 auto;
	background: #1C1C1C;
}

.conteudo-sobre-mim .video{
	width:45%;
	background: #1C1C1C;
	display: inline-block;
	height: 350px;
	text-align: center;
	vertical-align: top;
}

.conteudo-sobre-mim iframe{
	width: 37%;
	display: inline-block;
	padding: 0.9em;
	height: 20em;
	text-align: center;
	vertical-align: middle;
}

.conteudo-sobre-mim .texto {
	display: inline-block;
	vertical-align: center;
	height: 349px;
	width: 54%;
	color: whitesmoke;
	background: #1C1C1C;
	line-height: 35px;
	text-align: justify;
	font-family: 'Amatic SC', cursive;
}


.texto p {
	font-size: 24px;
	color: whitesmoke;
	padding: 3em;
	background: #1C1C1C;
	line-height: 35px;
	vertical-align: center;
	text-align: justify;
	font-family: 'Amatic SC', cursive;
}

.educacao div {
	width: 100%;
	background:#1C1C1C;
	display: inline-block;
	height: 250px;
	margin: 0 auto;
}

.conteudo-educacao {
	height: 250px;
	width: 100%;
	text-align: center;
}

.conteudo-educacao li {
	margin-top: 25px;
	display: inline-block;
	position: relative;
	padding: 25px;
	font-size: 30px;
	color: whitesmoke;
	background: #1C1C1C;
	line-height: 35px;
	font-family: 'Amatic SC', cursive;
}

.conteudo-educacao a {
 color: whitesmoke;
text-align: center;
}

.conteudo-educacao a:hover {
	color: #CD5C5C;
}

.bandeirinhas {
	padding-left: 10px;
	padding-right: 4px;
	height: 20px;
	width:  40px;
}

.experiencias{
	position: relative;
}

#experiencias div {
	width: 100%;
	display: inline-block;
	height: 200px;
	margin: 0 auto;}

.experiencias{
	position: relative;
}

.conteudo-experiencias{
	height: 200px;
	width: 100%;
	margin: 0 auto;
	background: #1C1C1C;
	color: whitesmoke;
	line-height: 35px;
	font-family: 'Amatic SC', cursive;
	position: relative;
	vertical-align: middle;
}


thead{
	background: #000000;
	font-weight: bold;
    color: white;
    font-size: 2em;
}

th {
	border:  1px solid #000000;
	padding: 8px 5px;
	width: 25%;
	font-size: 1.5em;
}

td {
	font-size: 1.5em;
	text-align: center;
	vertical-align: middle;
}

td a {
	color: whitesmoke;
	text-decoration: none;
}

td a:hover {
	color: #CD5C5C;
	text-decoration: underline;
}

.loading {
	height: 4em;
	width:4em;
}

.competencias{
	position: relative;
}

#competencias div {
	width: 100%;
	display: inline-block;
	margin: 0 auto;}

.conteudo-competencias {
	height: 250px;
	width: 100%;
	margin-top: 0;
	background: #1C1C1C;
	color: whitesmoke;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	position: relative;
}

td{
	padding-top: 2em;
	padding-bottom: 2em;
}

.competencialogo {
	height: 120px;
	width: 125px;
	border-radius: 50%;
}

.projetos {
	background: #1C1C1C;
}

.projetos p {
	color: whitesmoke;
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	padding: 1em;
}

.codepen {
	height: 300px;
	 box-sizing: border-box; 
	 display: flex;
	  align-items: center;
	   justify-content: center; 
	   border: 2px solid;
	    margin: 1em 0; 
		padding: 1em;
}

.interesses{
	position: relative;
}

#interesses div {
	width: 100%;
	display: inline-block;
	height: 300px;
	margin: 0 auto;
}

.conteudo-interesses {
	height: 300px;
	width: 100%;
	margin-top: 0;
	background: #1C1C1C;
	color: whitesmoke;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
	position: relative;
}

.conteudo-interesses ul{
	height: 300px;
	width: 100%;
	vertical-align: middle;
}


.cachorro {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 1em;
	margin-left: 2em;
	background-image: url(icones/interesses/cachorro.JPG);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: #FFFF00 10px solid;
}

.direito {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 1em;
	margin-left: 2em;
	background-image: url(icones/interesses/direito.png);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: #B22222 10px solid;
}

.pokemon {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 1em;
	margin-left: 1em;
	background-image: url(icones/interesses/pokemon.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: #FF4500 10px solid;
}

.marvel {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 1em;
	margin-left: 1em;
	background-image: url(icones/interesses/thor.jfif);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: #4682B4 10px solid;
}

.viagem {
		position: relative;
		display: inline-block;
		width: 150px;
		height: 150px;
		margin: 1em;
		margin-left: 1em;
		background-image: url(icones/interesses/paris.jfif);
		background-position: center;
		background-size: cover;
		border-radius: 50%;
		border: #BA55D3 10px solid;
}

.animes {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 1em;
	margin-left: 1em;
	background-image: url(icones/interesses/naruto.jfif);
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	border: #006400 10px solid;
}

footer{
	position: relative;
	display: block;	
	height: 100px;
	width: 100%;
	background: linear-gradient(to right,#CD5C5C,#1C1C1C);
}

footer p {
	color: whitesmoke;
	font-family: 'Amatic SC', cursive;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 1em;

}

footer a {
	color: 	#FFEBCD;
	text-decoration: none;
}

footer a:hover {
	color: #DC143C
}
	


