.competencias-interpessoais {
    background-color: rgb(46, 46, 46) !important;
   padding: 1rem 3rem;
}

.card-competencias {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}
.card-competencias:hover {
    border: 1px solid rgb(255, 196, 0, 0.2);
}

.competencia-logo{
    width: 70px;
    height: 70px;
}

.explicacao{
    margin: 0;
    padding: 0;
    height: 0;
    font-size: small;
    display: none;
    opacity: 0;
    transition: opacity 0.3s, height 0.5s;
 }

 .card-competencias:hover .explicacao {
    display: flex;
    text-align: center;
    color: rgb(255, 196, 100);
    opacity: 1;
    height: fit-content;
}

.card-competencias:hover .competencia-logo {
    filter: grayscale(100%);
}

@media (min-width: 768px) {
    .competencias-interpessoais {
       padding: 1rem;
    }
    
}