footer{
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 2rem;
    font-size: 20px;
}

footer a {
    color: rgb(255, 196,0)
}

footer a:hover{
    color: white
}


@media (min-width:1024px) {
    footer{
        min-height: 4rem;
        font-size: 24px;
    }
	
}