.redes {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-around
}

.github, .linkedin , .email, .whatsapp, .cv {
    border-radius: 50%;
    width:  50px;
    height: 50px; 
    background-position: center;
    background-repeat: no-repeat; 
    cursor: pointer;
}

.linkedin , .email, .cv {
    background-size: 50%; 
    border: 4px solid rgb(255, 196, 0)
}


.github {
    background-image: url(/icones/github.svg);
    background-size: 100% auto;
}

.linkedin {
    background-image: url(/icones/linkedin.svg);  
}

.email{
    background-image: url(/icones/mail.svg)
}

.whatsapp {
    background-image: url(/icones/whatsapp.svg);
    background-size: 100% auto;
}

.cv {
    background-color: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:rgb(255, 196, 0)
}

:is(.github, .linkedin, .email, .whatsapp, .cv):hover {
    box-shadow: 0 0 10px rgb(255, 196, 0);
    transform: scale(1.1);
  }


  @media (min-width:768px) {
    .redes{
        margin-top: 1rem;
        justify-content: space-around
    }
}

@media (min-width:1024px) {

    .texto-apresentacao {
        margin: 1rem 0;
        font-size: 2rem;
    }
	.card {
        border: 1px solid  rgb(95, 74, 3);
    }
	
    .github, .linkedin , .email, .whatsapp, .cv {

        width:  70px;
        height: 70px; 
    }

    .cv {
        font-size: 2em;
    }
}