@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin:0;
	padding:0;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 4.5rem 0;		

}

.titulo {
    color: rgb(255, 196, 0) !important;
    font-size: 2rem;
    margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}


@media (max-width:768px) {
	body {
		width: 100% !important;
	}
	
}

